{% extends "base.html" %}

{% block content %}

<h1 class="title" style="font-size:50px">
  Graphical Password User Authentication System<br><br>(Master Thesis Project)
</h1><br>
<h2 class="subtitle" style="font-size:25px">
  by<br><br>
  Swaraj Ravindra Ghawale<br><br>
  (M.Tech Information Security)<br><br>
  (22MCI0018)<br>
</h2><br><br><br>
<h1 class="title">
  Vellore Institute of Technology (VIT), Vellore<br><br>
   (Year 2023-24)<br>
</h1>

<style>
  h1, h2 {
    text-shadow: 2px 4px 4px dimgrey;
  }


</style>
{% endblock %}
